name: Deploy infrastructure
on:
  push:
    branches: [main]
    paths:
      - main.tf
      - variables.tf
      - outputs.tf
      - github-oidc.tf
  workflow_dispatch:
jobs:
  deploy-infrastructure:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{secrets.AWS_REGION}}
          role-to-assume: ${{secrets.AWS_GITHUB_ROLE_ARN}}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Initialize Terraform
        run: |
          terraform init

      - name: Plan Terraform
        run: terraform plan -out=terraform.plan

      - name: Apply Terraform
        run: terraform apply -auto-approve terraform.plan
      - name: Save Outputs
        run: |
          terraform output -json > terraform-outputs.json
          echo "Lambda Function: $(terraform output -raw lambda_function_name)"
          echo "S3 Bucket: $(terraform output -raw s3_bucket_name)"
          echo "DynamoDB Table: $(terraform output -raw dynamodb_table_name)"
